.img
{
  background-image: url(fon1.jpg);
  background-color: #000000 transparent;
  height: 85vh;
}

.container-t1
{
  font-family: Arial Narrow;
  color: #FFFFFF;
  font-weight: bolder;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.text-container-t1
{
  font-family: Arial Narrow;
  font-size: 60px;
  color: #FFFFFF;
  font-weight: bolder;
  text-align: center;
  
}

.days30-container-t1
{
  font-family: Arial Narrow;
  font-size: 50px;
  color: #00BFFF;
  font-weight: bolder;
}

.transparent-text-container-t1
{
  font-size: 30px;
  color: #FFFFFF;
  opacity: 0.8;
  margin-bottom: 10%;
}

.form-btn{
    display: flex;
    justify-content: center;
}

.open-button
{
  font-family: Arial Narrow;
  font-size: 20px;
  color:#fff;
  background: radial-gradient(96.72% 187.09% at 0 100.29%,#0c97e7.44%,#0c51e7  70.83%,#0a46c7 93.75%);
  border: none;
  border-radius: 7px;
  text-align: center;
  height: 50px;
  width: 300px;
  transition: transform .25s;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.open-button:hover{
  background-color: #fff;
  box-shadow: #FFFFFF;
  transform: scale(1.1);
}
.open-button:active{
  background-color: #fff;
  box-shadow: #FFFFFF;
  transform: scale(1.2);
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.8);
  color: white;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease 0s;
}

.popup:target{
  opacity: 1;
  visibility: visible;
}

.popup__area{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body{
  font-family: CENTURY GOTHIC;    
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content{
  background-color: #fff;
  color: #000;
  max-width: 800px;
  height: 500px;
  padding: 30px;
  position: relative;
}

.popup__close{
  position: absolute;
  right: 15px;
  top: 15px;
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

.popup__title{
  font-size: 40px;
  margin: 0px 0px 1px 0px;
  margin-bottom: 20%;
  text-align: center;
}

.form-container{
  font-family: CENTURY GOTHIC; 
  font-size: 150%;
}

.form-list{
  display: block;
  margin-bottom: 5%;
}

.btn{
  font-family: Arial Narrow;
  font-weight: bolder;
  font-size: 100%;
  color:#fff;
  box-shadow: #FFFFFF;
  background: radial-gradient(96.72% 187.09% at 0 100.29%,#0c97e7.44%,#0c51e7  70.83%,#0a46c7 93.75%);
  border: none;
  border-radius: 7px;
  margin-left: 12%;
  margin-top: 10%;
  width: 80%;
  height: 50px;
  max-width: 300px;
  transition: .35s;
}

.btn:hover{
    border: solid 2px;
    border-color: #0c51e7;
    background: white;
    color:#0c51e7;
}

.email, .name{
    display: block;
}

input{
  font-size: 80%;
  width: 90%;
  height: 30px;
  border-width: 0;
  border-color: white;
  background-color: white;
  outline: none;
  border-bottom: grey 2px solid;
}
